body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.caixa{
    width: 100px;
    height: 100px;
}

.azul{
    background-color: blue;
}

.vermelho{
    background-color: red;
}

.amarelo{
    background-color: yellow;
}

